.button{
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 15px;

}

.button:hover{
    background-color: #007bff85;
}

.button:disabled{
    cursor: default;
    background-color: #61aeff;
}